body{
    font-family: Arial;
  }
  
  td.menu1{
    background: none;
  }

  td.menu1 ul li{
    font-size: 15px;
    line-height: 1.3em;
    font-weight: 400;
  }
  
  td.menu1 ul li ul li{
    font-size: 12px;
  }

  #ticketlist > tbody td {
    font-size: 14px;
    line-height: 1.3em;
  }
  
  #ticketlist > tbody td:nth-child(5){
    font-size: 11px;
  }
  
  #ticketlist > tbody td:nth-child(4){
    max-width: 160px;
    width: 160px;
    word-wrap: break-word;
  }
    
  tr.odd td.sorting_1,
  tr.even td.sorting_1{
    background-color: inherit;
  }
  
  div.content_wrapper.normal_ticket_message pre{
    font-size: 14px;
    line-height: 1.3em;
    font-family: Arial;
    max-height: none !important;
    min-height: 100px !important;
    height: auto !important;
  }
  
 #netangels-panel-body > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > table{
    width: 90%;
  }

  div.ticket_message_header span[title="Контактный email, уровень доверия средний"]{
    color: #1500F5 !important;
  }

#compose_form textarea { 
    font-size: 15px;
}
